.skills{

padding:100px 8%;

background:#0f172a;

}

.section-title{

text-align:center;

font-size:42px;

margin-bottom:60px;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}

.skill-card{

background:#1e293b;

padding:25px;

border-radius:20px;

transition:.3s;

}

.skill-card:hover{

transform:translateY(-8px);

}

.skill-header{

display:flex;

justify-content:space-between;

margin-bottom:15px;

}

.progress-bar{

height:10px;

background:#334155;

border-radius:20px;

overflow:hidden;

}

.progress{

height:100%;

background:#6c63ff;

border-radius:20px;

}